.container {
  height: 60px;
  margin: 10px;
  margin-top: 0;
  display: flex;
  align-items: center;
}

.availability_filter {
  font-size: 1em;
  margin-left: 10px;
  font-weight: 500;
  margin-bottom: 0;
}

.select {
  width: 90px;
  height: 30px;
  margin-left: 4px;
  border-radius: 4px;
  border: 1px solid #282828;
  outline: none;
  cursor: pointer;
  padding: 5px;
  font-size: 0.8em;
}
