.container {
  width: calc(100% - 20px);
  margin: 0 10px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.page_btn {
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  outline: none;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
		0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);;
  cursor: pointer;
  background-color: white;
}

.active {
  background-color: #0f6fde;
  color: white;
}
