.container {
  display: flex;
  padding-left: 0;
  margin-left: 0;
}

.heading {
  margin: 0;
  font-size: 16px;
  margin: 10px;
  color: #000;
}

.fuel_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.fuel {
  min-width: 90px;
  display: flex;
  align-items: center;
  margin: 2px 0;
}

.fuel_label {
  margin: 0;
  margin-left: 5px;
}
