@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap");

.cancel-body {
  background: #ebf0f5;
  text-align: center;
  padding: 40px 0 !important;
}

.cancel_head {
  color: red;
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 10px;
}

.cancel_text {
  color: #404f5e;
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  margin: 0;
  text-align: center;
}

.check-mark {
  color: red !important;
  font-size: 100px;
  line-height: 200px;
  margin-left: -15px;
}

.card {
  background: white;
  padding: 60px;
  border-radius: 1rem !important;
  box-shadow: 0 2px 3px #c8d0d8;
  display: inline-block;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 450px;
}

.card-inner {
  border-radius: 200px;
  height: 200px;
  width: 200px;
  background: #f8faf5;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
