.filter {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 10px;
}

.filter_text {
  font-size: 1em;
  margin-left: 10px;
  font-weight: 500;
  margin-bottom: 0;
}

.filter_min_max_city {
  display: flex;
  align-items: center;
}

.body {
  background-color: #f1f1f1;
  margin-bottom: 20px;
  border-radius: 0.3rem;
}
