.btn1 {
    background-color: #000d6b !important;
    color: #fff !important;
    border: none !important;
    padding: 0.5rem 1rem !important;
    font-size: 1rem !important;
    font-weight: 500 !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 80% !important;
    justify-content: center !important;
    text-align: center !important;
    text-transform: uppercase !important;
    letter-spacing: 0.1rem !important;
    cursor: pointer !important;
    transition: all 0.3s ease-in-out !important;
    border-radius: 0.5rem !important;
}

.btn1:hover {
    cursor: pointer;
    transform: scale(1.05);
}