.header__top {
  padding: 10px 0px;
  background: #000d6b;
  color: #fff;
}

.header__top__right a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.header__top__right a:hover {
  color: #fff;
}

.logo h1 a span {
  font-size: 1.5rem;
}

.logo {
  padding-top: 4px;
}

.logo h1 a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

.logo h1 {
  line-height: 1.5rem;
}

.main__navbar {
  padding: 15px 0px;
  background: #000d6b;
}

.mobile__menu i {
  color: #fff;
  font-size: 1.3rem;
}

.mobile__menu {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 2.7rem;
}

.nav__item {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.nav__item:hover {
  color: #f9a826;
  cursor: pointer;
}

.nav__active {
  color: #f9a826;
}

.logout-btn {
  background: #000d6b;
  color: #fff;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: 0.3s all ease-in-out;
  margin-top: 15px;
}

.logout-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.user-name {
  color: #fff;
}

#profile__image { 
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .header__top,
  .nav__right {
    display: none;
  }

  .mobile__menu {
    display: block;
  }

  .navigation {
    background: rgb(0, 13, 107, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
  }

  .menu {
    width: 250px;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
  }

  .menu a {
    color: #000d6b;
    font-weight: 600;
    font-size: 1rem;
  }

  .menu__active {
    display: block;
  }
}
