.login {
  background-color: #f5f5f5;
  padding: 20px;
  margin: 20px auto 0;
  max-width: 330px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

.login > h3 {
  text-align: center;
  font-size: 1.5em;
}

.login-email {
  margin-top: 2rem;
}

.login-email > input {
  width: 100%;
  height: 2.5rem;
  font-size: 1.2rem;
  padding: 0 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-password {
  margin-top: 2rem;
}

.login-password > input {
  width: 100%;
  height: 2.5rem;
  font-size: 1.2rem;
  padding: 0 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-btn {
  background-color: #000d6b;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 0.5em;
  min-width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  transition: 0.3s all ease-in-out;
}

.login-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid #e7195a;
  color: #e7195a;
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid #e7195a;
}